html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  font-family: "Oswald";
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #c31432, #240b36);
}

nav {
  background: linear-gradient(to right, #c31432, #240b36);
  font-family: "Oswald";
}

footer {
  box-shadow: 0px -5px 10px #27000740;
}

footer .felipe {
  font-size: 4rem;
}

h1,
h2 {
  font-family: "Oswald";
}

header h2 {
  color: #f9cd48;
  line-height: 3rem;
}

header img {
  border-radius: 60%;
  box-shadow: 5px 7px 5px #27000773;
  width: 60%;
  margin-top: 50px;
}

.hoverHelper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  /* border: 1px solid red; */
  z-index: 0;
}

.navbar-nav,
.navbar-brand {
  z-index: 10;
}

.section-title {
  text-transform: uppercase;
  border-bottom: 3px solid;
  padding-bottom: 1rem;
}

.felipe {
  font-family: "Mr Dafoe";
  word-spacing: 0.5rem;
}

.bg-crimson {
  background-color: #c31432;
}

.carousel-inner,
.carousel-indicators {
  border-radius: 3px;
}
.carousel-indicators {
  margin: 0;
  background-color: #240b36;
  height: 4.5rem;
  border-radius: 0 0 3px 3px;
}

.carousel-indicators li {
  bottom: 0rem;
  transition: ease-out 0.5s;
}

.carousel-indicators li.active {
  bottom: 0;
  height: 0.5rem;
  width: 30px;
  border-radius: 30% 30% 50% 50%;
  transition: ease-out 0.5s;
}

.carousel-caption {
  bottom: -1rem;
  color: white;
  text-shadow: 1px 1px 5px #240b36;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 3rem;
  z-index: 100;
}

.carousel-control-next {
  right: -7rem;
}

.carousel-control-prev {
  left: -7rem;
}

.carousel-item img {
  object-fit: cover;
  object-position: top;
  height: 70vh;
  vertical-align: top;
}

#bio {
  line-height: 40px;
}

#ultimos-trabajos {
  height: 100vh;
  box-shadow: 0px 5px 10px #27000740;
}

#navbar {
  transition: ease-in 0.3s;
}

.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

#experiencia i {
  color: #c31432;
}

#experiencia h3 {
  font-family: "Oswald";
  font-weight: 700;
}

@media (min-width: 768px) {
  header img {
    border-radius: 60%;
    box-shadow: 5px 7px 5px #27000773;
    width: 30%;
  }
}
